<div id="preload">
  <img class="logo" src="assets/LOGO.png">
  <img class="room1" src="assets/ROOM1.png">
  <img class="room2" src="assets/ROOM2.png">
  <img class="room-background" src="assets/UNCONVENTIONAL_CONVENTION_merged.png">
  <img class="supervisor-bell-button" src="assets/supervisor-bell-button.png">
  <img class="supervisor-flag" src="assets/supervisor-flag.png">
  <img class="go-whats-next" src="assets/WHAT'S_NEXT.png">
  <img class="go-gallery" src="assets/GALLERY.png">
  <img class="go-about-us" src="assets/ABOUT_US.png">
  <img class="go-stuff-behind" src="assets/STUFF3.png">
  <img class="about-us-image" src="assets/2.png"> 
  <img class="cave1" src="assets/CAVE1.png">
  <img class="cave2" src="assets/CAVE_2.png">
  <img class="water" src="assets/WATER_1.png">
  <img class="leave_your_stuff" src="assets/GROUP1.png">
  <img class="rectangle-call-supervisor" src="assets/Rectangle_57.png">
  <img class="" src="assets/">
</div>  

<form action="/comments" class="new_comment" id="new_comment" method="post">

    <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

  <label for="guestname">Your name</label>:
  <input id="guestname_input" name="comment[guestname]" type="text" /><br />

  <label for="guestemail">Your email (this will not be published</label>:
  <input id="guestemail_input" name="comment[guestemail]" type="text" /><br />

  <label for="Content">Leave your message here </label>:
  <input id="content_input" name="comment[content]" type="text" /><br />

  <input name="commit" type="submit" value="Submit comment" />
</form>

<div id="comments_display">
  
</div>

<textarea name="paragraph_text" cols="50" rows="10"></textarea>