body {
  background-color: black;
  color: white;
}

#preload {
  text-align: center;
}

.logo {
  display: inline;
  position: absolute;
  width: 20%;
  margin-top: 3.8%;
  margin-left: 28%;
  z-index: 3;
}

.room1 {
  margin-top: -17px;
  width: 75%;
  display: inline;
  z-index: 2;
}

.room2 {
  width: 75%;
  position: absolute;
  z-index: -1;
  margin-left: -73%;
  margin-top: 9%;
  width: 56.2%;
}

.room-background {
  position: absolute;
  margin-left: -72.9%;
  margin-top: 4%;
  width: 40%;
  z-index: -2;
}

.supervisor-bell-button {
  position: absolute;
  width: 8.4%;
  margin-left: -67%;
  margin-top: 13.4%;
  z-index: 4;
}

.supervisor-flag {
  position: absolute;
  margin-top: 59.4%;
  width: 23%;
  margin-left: -24%;
  z-index: -2;
}

.go-whats-next {
  position: absolute;
  width: 66.2%;
  margin-left: -65.4%;
  display: none;
}

.about_us_door_button {
  position: absolute;
  width: 16.5%;
  margin-top: 18.5%;
  margin-left: -25.4%; 
}

.about_us_flag {
  position: absolute;
  width: 19.6%; 
  z-index: -1; 
  margin-top: 60.38%;
  margin-left: -23.3%
}

.go-gallery {
  position: absolute;
  z-index: -1;
  width: 27.4%;
  margin-top: 25.2%;
  margin-left: -44.3%;
}

.gallery-flag {
  position: absolute;
  margin-top: 60.4%;
  width: 19.8%;
  margin-left: -23.1%;
  z-index: -1;
}

.go-stuff-behind {
  position: absolute;
  width: 15.9%;
  margin-left: -31.58%;
  margin-top: 46.1%;

}

.stuff-behind-flag {
  position: absolute;
  width: 19%;
  margin-top: 61.8%;
  margin-left: -22.7%;
  z-index: -1;
}

.cave1 {
  width: 75%;
  display: inline;
}

.cave2 {
  width: 75%;
  display: inline;
}

.water {
  width: 75%;
  display: inline;
}

.leave_your_stuff {
  width: 60%;
  display: inline;
}

.rectangle-call-supervisor {
  width: 75%;
  display: inline;
}


#content_input {
  width: 300px;
  height: 250px;
}

#new_comment {
  padding: 30px;
  background-color: grey;
}

#content_about_us {
  width: 800px;
}

#content_footnote {
  width: 800px;
}