@font-face {
  font-family: "KeepCalm-Medium";
  src: url(assets/KeepCalm-Medium.ttf) format("truetype");
}
body {
  background-color: green;
  color: white;
  font-family: "KeepCalm-Medium";
}



#preload {
  text-align: center;
}



.logo {
  display: inline;
  position: absolute;
  width: 20%;
  margin-top: 3.8%;
  margin-left: 28%;
  z-index: 3;
}

.room1 {
  margin-top: -17px;
  width: 75%;
  display: inline;
  z-index: 2;
}

.room2 {
  width: 75%;
  position: absolute;
  z-index: -1;
  margin-left: -73%;
  margin-top: 9%;
  width: 56.2%;
}

.room-background {
  position: absolute;
  margin-left: -72.9%;
  margin-top: 4%;
  width: 40%;
  z-index: -2;
}

.supervisor-bell-button {
  position: absolute;
  width: 8.4%;
  margin-left: -67%;
  margin-top: 13.4%;
  z-index: 4;
}

.supervisor-flag {
  position: absolute;
  margin-top: 59.4%;
  width: 23%;
  margin-left: -24%;
  z-index: -2;
}

.go-whats-next {
  position: absolute;
  width: 66.2%;
  margin-left: -65.4%;
  display: none;
}

.about_us_door_button {
  position: absolute;
  width: 16.5%;
  margin-top: 18.5%;
  margin-left: -25.4%; 
}

.about_us_flag {
  position: absolute;
  width: 19.6%; 
  z-index: -1; 
  margin-top: 60.38%;
  margin-left: -23.3%
}

.go-gallery {
  position: absolute;
  z-index: -1;
  width: 27.4%;
  margin-top: 25.2%;
  margin-left: -44.3%;
}

.gallery-flag {
  position: absolute;
  margin-top: 60.4%;
  width: 19.8%;
  margin-left: -23.1%;
  z-index: -1;
}

.go-stuff-behind {
  position: absolute;
  width: 15.9%;
  margin-left: -31.58%;
  margin-top: 45.9%;

}

.stuff-behind-flag {
  position: absolute;
  width: 19%;
  margin-top: 61.8%;
  margin-left: -22.7%;
  z-index: -1;
}

.whats-next-button {
  position: absolute;
  width: 19%;
  margin-left: -66.64%;
  margin-top: 34.6%;
  z-index: -1;
}

.whats-next-flag {
  position: absolute;
  margin-left: -22.5%;
  margin-top: 61.4%;
  width: 20%;
  z-index: -1;
}



.about-us-text h1{
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: -10px;
  font-size: 28px;
}
.about-us-text {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  display: inline-block;
  height: 400px;
  position: absolute;
  margin-left: -74.35%;
  margin-top: 64%;
  z-index: -2;
  padding-left: 75px;
  padding-right: 75px;
  width: 60.54%;
}
.about-us-paragraph {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  text-align: left;
  -webkit-column-count: 2;
  -moz-column-count: 2; 
  column-count: 2;
  height: 310px;
  font-size: 13px;
}
.about-us-image {
  width: 73%;
  margin-left: -3%;
  margin-top: 20%;
}



.gallery h1{
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: -10px;
  font-size: 28px; 
}
.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  display: inline-block;
  height: 600px;
  position: absolute;
  margin-left: -71.9%;
  padding-left: 75px;
  padding-right: 75px;
  width: 60.6%;
  margin-top: 58%;
  z-index: 2;
}
.gallery-divide {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  text-align: left;
  font-size: 13px;
}
.floating-pictures-one {
  position: absolute;
  margin-left: -49%;
  margin-top: 49%;
  width: 47%;
  z-index: 3;
}
.floating-pictures-two {
  position: absolute;
  margin-left: -49%;
  margin-top: 53%;
  width: 42%;
  z-index: 3;
}
.floating-pictures-three {
  position: absolute;
  margin-left: -58%;
  margin-top: 48%;
  width: 33%;
  z-index: 3;
}



.cave1 {
  position: absolute;
  margin-left: -71.9%;
  margin-top: 114.9%;
  width: 74%;
  z-index: 3;
}
.cave2 {
  width: 74%;
  position: absolute;
  margin-top: 119%;
  width: 52%;
  margin-left: -61%;
  z-index: 2;
}
.cave-background {
  width: 74%;
  position: absolute;
  z-index:-1;
  margin-left: -71.9%;
  margin-top: 113%;
}
.water {
  width: 74%;
  position: absolute;
  margin-left: -71.9%;
  margin-top: 114.9%;
  z-index: 1;
}
.clouds {
  position: absolute;
  width: 69%;
  margin-left: -69%;
  margin-top: 119%;
  z-index: 2;
}
.fish {
  position: absolute;
  width: 5%;
  margin-top: 168%;
  margin-left: -40%;
  z-index: 5;
}
.event-information h1{
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: -10px;
  font-size: 28px;
}
.event-information {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
    position: absolute;
    margin-left: 12%;
    padding-left: 75px;
    padding-right: 75px;
    width: 60.6%;
    margin-top: 109%;
    z-index: 3
}
.event-info-divide {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  text-align: left;
  font-size: 13px;
}


.leave-your-stuff-form h1{
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: -10px;
  font-size: 28px;
}
.leave-your-stuff-form {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 600px;
  position: absolute;
  padding-left: 75px;
  padding-right: 75px;
  width: 60.6%;
  z-index: 1;
  background-color: black;
  margin-top: 146%;
  margin-left: 11.9%;
}
.leave-stuff-divide {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  text-align: left;
  font-size: 13px;
}
#new_comment_form {
  position: absolute;
  text-align: left;
  z-index: 5;
  margin-top: 158%;
  margin-left: 18.5%;
}
#guestname_input {
  background-color: transparent;
  color: white;
  font-family: "KeepCalm-Medium";
  font-size: 13px;
  border: 2px solid white;
}
#guestemail_input {
  background-color: transparent;
  color: white;
  font-family: "KeepCalm-Medium";
  font-size: 13px;
  border: 2px solid white;
}
#content_input {
  background-color: transparent;
  color: white;
  font-family: "KeepCalm-Medium";
  font-size: 13px;
  border: 2px solid white;
  height: 150px;
  width: 300px;
}
.leave_your_stuff {
  width: 60%;
  position: absolute;
}
.red-shape {
  position: absolute;
  width: 40%;
  margin-top: 208%;
  margin-left: -66%;
  z-index: 2;
}



.rectangle-call-supervisor {
  width: 75%;
  display: inline;
}




#content_about_us {
  width: 800px;
}

#content_footnote {
  width: 800px;
}